<!-------------------------->
<!------- Sans Serif ------->
<!-------------------------->

<!------ Cascadia Code ----->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css">
<!------ IBM Plex Mono ----->
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
<!---- IBM Plex Sans KR ---->
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">


<!-------------------------->
<!--------- Serif ---------->
<!-------------------------->

<!----- IBM Plex Serif ----->
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap" rel="stylesheet">
<!----- Nanum Myeongjo ----->
<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
