iframe {
  width      : 250px;
  height     : 300px;
  border     : none;
  background : #1a1a1a;
}

.w_ul {
  margin-top    : 0px;
  margin-bottom : -5px;
}
.wo_ul {
  margin-top    : 10px;
  margin-bottom : 0px;
}