// https://github.com/mmistakes/minimal-mistakes/blob/master/_sass/minimal-mistakes/_variables.scss

// heading
// https://github.com/mmistakes/minimal-mistakes/blob/8a67ce8e41ec850f2d7c373aa47739b2abfee6f1/_sass/minimal-mistakes/_variables.scss#L46
$h-size-1: 2em    !default;
$h-size-2: 1.7em  !default;
$h-size-3: 1.5em  !default;
$h-size-4: 1.3em  !default;
$h-size-5: 1.1em  !default;
$h-size-6: 1em    !default;
/*
$h-size-1: 1.7em     !default; // ~25.008px
$h-size-2: 1.25em    !default; // ~20px
$h-size-3: 1.125em   !default; // ~18px
$h-size-4: 1.0625em  !default; // ~17px
$h-size-5: 1.03125em !default; // ~16.5px
$h-size-6: 1em       !default; // ~16px
*/
