// https://github.com/web-work-tools/minimal-mistakes/blob/master/_sass/minimal-mistakes/_variables.scss

$type-size-1: 0.9em   !default;
$type-size-2: 0.975em   !default;
$type-size-3: 1em     !default;
$type-size-4: 1.2em   !default;
$type-size-5: 1.3em  !default;
