$type-size-1: 1.3em !default;
$type-size-2: 1.2em !default;
$type-size-3: 1.1em !default;
$type-size-4: 1em !default;
$type-size-5: 0.9em !default;
$type-size-6: 0.8em !default;
$type-size-7: 0.7em !default;
