.twisty-wrapper {
    margin        : 20px 0px;
}
twisty-player {
    visualization : "3D";
    background    : "checkered-transparent";
    hint-facelets : "floating";
    width         : 300px;
    height        : 180px;
}