.twisty-wrapper {
    margin        : 20px 0px;
    border        : 5px solid white;
}

twisty-player {
    visualization : "3D";
    background    : "checkered-transparent";
    hint-facelets : "floating";
    width         : 300px;
    height        : 170px;
}