---
# Only the main Sass file needs front matter (the dashes are enough)
---

// https://github.com/rashevskyv/dsi/blob/master/_sass/minimal-mistakes/skins/_dark.scss
@import "minimal-mistakes/_sass/minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$body-color                   : black;
$background-color             : #090105;

$text-color                   : white;

$link-color                   : #dbfffd;
$link-color-hover             : #dbe3ff;
$link-color-visited           : #ffdbdb;

$masthead-link-color          : #dbfffd;
$masthead-link-color-hover    : #dbe3ff;

// font
$sans-serif : "IBM Plex Mono", "IBM Plex Sans KR", sans-serif;
$serif      : "IBM Plex Mono", "IBM Plex Sans KR", serif;
$monospace  : "IBM Plex Mono", "IBM Plex Sans KR", monospace;

// http://chriskempson.com/projects/base16/
$base00: #1d1f21; // base00 - Default Background
$base01: #282a2e; // base01 - Lighter Background (Used for status bars, line number and folding marks)
$base02: #3b3e44; // base02 - Selection Background
$base03: #999999; // base03 - Comments, Invisibles, Line Highlighting
$base04: #999999; // base04 - Dark Foreground (Used for status bars)
$base05: #ffffff; // base05 - Default Foreground, Caret, Delimiters, Operators
$base06: #ffffff; // base06 - Light Foreground (Not often used)
$base07: #ffffff; // base07 - Light Background (Not often used)
$base08: #009900; // base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
$base09: #ff9933; // base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url
$base0a: #ffff66; // base0A - Classes, Markup Bold, Search Text Background
$base0b: #ff6666; // base0B - Strings, Inherited Class, Markup Code, Diff Inserted
$base0c: #00cc66; // base0C - Support, Regular Expressions, Escape Characters, Markup Quotes
$base0d: #33ccff; // base0D - Functions, Methods, Attribute IDs, Headings
$base0e: #66ffff; // base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed
$base0f: #a3685a; // base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>

@charset "utf-8";

// https://github.com/mmistakes/minimal-mistakes/discussions/1219
html {
  font-size: 15px; // change to whatever

  @include breakpoint($medium) {
    font-size: 15px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 15px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 15px; // change to whatever
  }
}
